<div class="topbar-wrapper">
    <div class="topbar-left">
       <img src="/icons/autopilot.svg" /> AUTOPILOT
    </div>
    <div class="topbar-right">
    <span class="battery">
      50%  <img src="/icons/battery-half.svg" /> 
    </span>
    <CurrentTime />
    <span class="temprature">
        <img src="/icons/clouds.svg" /> 21c
    </span>
    </div>
</div>
