<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0884a302-cfd1-4b0f-8589-fb142f40e468/resourceGroups/BRAIN_group/providers/Microsoft.Web/sites/BRAINDEMO</ResourceId>
    <ResourceGroup>BRAIN_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://braindemo.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://braindemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$BRAINDEMO</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>