@page "/voice"
<div class="voice-wrapper">
    <div class="voice-recognition">
        <Icons IconType="Mic" />
        <div class="voice-recognitiontext">
            <p>Please ask something so I can assist you accoringly</p>
            <p>I am listening...</p>
        </div>

    </div>
</div>
